
.form-v{
  /* background-color: #0024277e;
  border-bottom: #00CDDB solid 8px; */
  background-color: #001f21af;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0px 30px 0px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  min-height: 550px;
}
.con-slide{
  /* background-color: rgb(0, 136, 255); */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  width: 400px;
  min-height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.con-1,.con-2{
  min-width: 360px;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
  transition: 0.7s;
}
.con-1{
  margin-left: 390px;
}
.con-2{
  /* margin-right: 380px; */
}
.sipo2{
  /* background-color: rgb(0, 136, 255); */
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.sipo2 h4{
  background-color: rgba(0, 0, 0, 0);
  border:  #00ACB8  solid 3px;
  border-radius: 10px 100px 10px 100px;
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px 20px;
}
.backo{
  cursor: pointer;
  width: 100%;
}
.right-sipo{
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  width: 100%;
}